doctype html
html(lang='en' ng-app="core")
head
  meta(charset="UTF-8")
  meta(name="viewport" content="width=device-width,height=device-height,initial-scale=1.0,user-scalable=0,minimum-scale=1.0,maximum-scale=1.0")
  meta(name="format-detection" content="telephone=no")
  title(ng-bind="$title")

  // build:css ../css/main.css
  // bower:css
  // endbower

  // inject:css
  // endinject
  // endbuild
body
  div(ui-view='')

  // build:jsVendor ../js/vendor.js
  // bower:js
  // endbower
  // endbuild

  // build:jsMain ../js/main.js
  // inject:js
  // endinject
  // endbuild
