doctype html
html(lang='en' ng-app="core")
head
  meta(charset="UTF-8")
  meta(name="viewport" content="width=device-width,height=device-height,initial-scale=1.0,user-scalable=0,minimum-scale=1.0,maximum-scale=1.0")
  meta(name="format-detection" content="telephone=no")
  title(ng-bind="$title")
  //link(rel="stylesheet" type="text/css" href="/vendors/bootstrap/dist/css/bootstrap.css")
  //link(rel="stylesheet" type="text/css" href="/vendors/angular-dialog-service/dist/dialogs.css")
  //link(rel="stylesheet" type="text/css" href="/vendors/quill/dist/quill.base.css")
  //link(rel="stylesheet" type="text/css" href="/vendors/quill/dist/quill.snow.css")
  //link(rel="stylesheet" type="text/css" href="/vendors/emoji/lib/emoji.css")
  //link(rel="stylesheet" type="text/css" href="/vendors/angular-loading-bar/build/loading-bar.css")
  //link(rel="stylesheet" type="text/css" href="/vendors/ngprogress/ngProgress.css")
  //link(rel="stylesheet" type="text/css" href="/styles/icon.css")
  //link(rel="stylesheet" type="text/css" href="/styles/decoProcess.css")
  //link(rel="stylesheet" type="text/css" href="/styles/checkPoint.css")
  //link(rel="stylesheet" type="text/css" href="/styles/houseCase.css")
  //link(rel="stylesheet" type="text/css" href="/styles/subject.css")
  //link(rel="stylesheet" type="text/css" href="/styles/houseCaseImage.css")
  //link(rel="stylesheet" type="text/css" href="/styles/callCenter.css")
  //link(rel="stylesheet" type="text/css" href="/styles/projectQrCode.css")
  //link(rel="stylesheet" type="text/css" href="/styles/contract.css")
  //link(rel="stylesheet" type="text/css" href="/styles/discuss.css")
  //link(rel="stylesheet" type="text/css" href="/styles/decoProduct.css")
  //link(rel="stylesheet" type="text/css" href="/styles/index.css")
  // inject:css
  // endinject
body
  div(ui-view='')

  // inject:js
  // endinject
  //script(data-main="/scripts/require-config.js" src="/vendors/requirejs/require.js")
