.callCenter: .container: .row: .col-md-offset-2.col-md-8
  .content
    .info.text-center
      img(src="/images/consultant_icon.png" width="80" height="80")
      span {{project.customerServicer.name}}
      p 一对一装修顾问全程为你服务，帮您及时处理装修过程中遇到的设计、施工、材料等各类问题。
      .phone 服务热线：
        span 400-816-8333
    .call.text-center
      a(href="tel:400-816-8333") 一键拨号
